<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User profile</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" href="/images/user.png" type="image/icon type">
</head>

<body>
    <div id="window">
        <div id="head">
            <div id="header">
                <img class="logo" src="/images/user.png" alt="User image">
                <h1>User information</h1>
            </div>
        </div>
        <hr>
        <div id="body">
            <div id="menu">
                <b>Menu</b>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/users">Users</a></li>
                    <li><a href="/compositions">Compositions</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
            <div class="content">
                <div id="user_info">
                    <img id="avatar" src="{{avaUrl}}" alt="Avatar link">
                    <div id="info">
                        <h2>{{fullname}}</h2>
                        <p>Login: {{login}}</p>
                        <p>Registered: {{registeredAt}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>